# top-most EditorConfig File
root = true

#Unit-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

# indent size
[*.{js,es6,jsx,html,hbs,erb,json,md}]
charset = utf-8
indent_style = space
indent_size = 2
